[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
notebook = "*"
praw = "*"
pandas = "*"
ipaddress = "*"
torch = "*"
tables = "*"
torchvision = "*"
ipywidgets = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
psycopg2 = "*"
tqdm = "*"
python-dotenv = "*"
datasets = "*"
scikit-learn = "*"
accelerate = "*"
evaluate = "*"
transformers = {extras = ["torch"], version = "*"}
word2number = "*"
xformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
